.c-searchForm {
    display: flex;
    justify-content: center;
    &__bar {
        border-top: 1px solid ;
        border-right: 1px solid ;
        border-bottom: 1px solid ;
        border-left: none;
        border-radius: 0 8px 8px 0;
        margin-right: 8px;
    }
    &__button {
        border: 1px solid ;
        border-radius: 8px;
        cursor: pointer; 
    }
    &__glass {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid ;
        border-left: 1px solid ;
        border-bottom: 1px solid ;
        border-radius: 8px 0 0 8px ;
    }
}