.c-searchForm {
    display: flex;
    justify-content: center;
    width: 300px;
    &__bar {
        height: 30px;
        width: 200px;
        border-top: 1px solid #707070;
        border-right: 1px solid #707070;
        border-bottom: 1px solid #707070;
        border-left: none;
        border-radius: 0 8px 8px 0;
        margin-right: 8px;
    }
    &__button {
        height: 30px;
        width: 90px;
        border: 1px solid #707070;
        border-radius: 8px;
        background: linear-gradient(#F2EDE9,#DED8D3);
        color: #707070;
        font-size: 1.1rem;
        font-weight: lighter;
        cursor: pointer;
    }
    &__glass {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 50px;
        border-top: 1px solid #707070;
        border-left: 1px solid #707070;
        border-bottom: 1px solid #707070;
        border-radius: 8px 0 0 8px;
        color: #707070;
    }
}