.l-sidebar {
    min-width: 257px;
    height: 1990px;
    z-index: 100;
    @include mq(tb) {
        height: 100%;
        position: absolute;
        left: 100%;
        transition-duration: 0.3s;
        &.show {
          position: absolute;
          left: calc(100% - 257px);
          transition-duration: 0.3s;
        }
      }
}