.p-mainHeader {
    height: 20%;
    background-image: url(../images/front-page/mainheader.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: mplus-1m-light;
    @include mq(sp) {
        height: 10%;
      }
    &__title {
        padding-left: 12%;
        color: #FFFFFF;
        font-size: 2.5rem;
    }
}

.p-mainContents {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mplus-1m-light;
    @include mq(sp) {
        height: 65%;
      }
    &__selectBox {
        display: flex;
        height: 90%;
        width: 95%;
        @include mq(sp) {
            height: 95%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
    }
    &__selectCard {
        height: 100%;
        width: 43%;
        margin: 0 3%;
          @include mq(sp) {
            width: 90%;
            margin: 3% 3%;
          }
        > .c-selectCard__container > .c-selectCard__title {
            color: #FFFFFF;
            font-family: roboto;
            font-size: 4.2rem;
        }
        > .c-selectCard__container > .c-selectCard__textBox > .c-selectCard__text {
            color: #3C2A10 ;
            background-color: rgba(255,255,255,0.7);
            > dt {
                font-size: 1.7rem;
                
            }
            > dd {
                font-size: 1.2rem;
            }
        }
        &--takeOut {
            background-image: url(../images/front-page/takeout.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &--eatIn {
            background-image: url(../images/front-page/eatin.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}